{% extends 'base.html' %}
{% load static %}
{% block form-media %} {{ form.media }} {% endblock form-media %}
{% block title %}Редактирование{% endblock %}


{% block content %}

    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        <div class="h3 text-center">
            <p class="gradient">Редактирование воспоминания</p>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <form method="POST" class="modal-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {% for field in form %}
                    <div class="row">
                        <p class="text-danger">{{ field.errors }}</p>
                        <p class="text-light">{{ field.label_tag }}</p>
                        <div class="col-md-10">{{ field }}</div>
                    </div>
                {% endfor %}
            </div>
            <p>
                <button class="btn btn-outline-success" type="submit">Сохранить</button>
                <button class="btn btn-outline-danger closeBtn" type="reset" onclick="document.location='{% url 'impression_storage:storage' %}'">Отмена</button>
            </p>
        </form>
    </div>

{% endblock %}
