{% extends 'base.html' %}
{% load static %}
{% block form-media %} {{ form.media }} {% endblock form-media %}
{% block title %}Хранилище{% endblock %}


{% block content %}

    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        <div class="h1 text-center">
            <p class="gradient">Хранилище</p>
        </div>
    </div>

    <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
        {% if impressions %}
            <button class="btn btn-outline-warning mb-5 _modal-open" data-modal-open="modal-1"> Добавить воспоминание </button>
        {% else %}
            <div class="row text-center">
                <p class="text-light fs-4">У вас нет ни одного воспоминания</p>
                <button class="btn btn-warning _modal-open" data-modal-open="modal-1"> Добавить воспоминание </button>
            </div>
        {% endif %}
    </div>

    <!-- Modal Form -->
	<div class="_modal" data-modal="modal-1">
		<div class="modal-bg">
			<div class="modal-body">
				<div class="modal-content modal-callback">
					<div class="modal-callback__title">Новое воспоминание</div>
                    <form method="POST" class="modal-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            {% for field in form %}
                                <div class="row">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    <div class="col-md-10">{{ field }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        <p>
                            <button class="btn btn-outline-success" type="submit">Создать</button>
                            <button class="btn btn-outline-danger closeBtn" type="reset">Отмена</button>
                        </p>
                    </form>
				</div>
			</div>
		</div>
	</div>
    <!-- end Modal Form -->


    {% if impressions %}
        <div class="row row-cols-1 row-cols-md-3 g-4 px-4">
            {% for i in impressions %}
                {% if not i.is_deleted %}
                    <div class="col">
                        <div class="card bg-warning">
                            <div class="card-header">{{ i.created_at}}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.description }}</p>
                                <a href="#" class="btn btn-success">Редактировать</a>
                                <a href="{% url 'impression_storage:delete_impression' i.pk %}" class="btn btn-danger">Удалить</a>
                            </div>
                            <div class="card-footer text-muted">
                                Обновлено: {{ i.updated_at|date:"d.m.Y" }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <script src="{% static 'js/ImpressionFormShow.js' %}"></script>
{% endblock %}
